<h1>Artists#new</h1>
<p>Find me in app/views/artists/new.html.erb</p>


<% if @artist.errors.any? %>

    <ul>
    <% @artist.errors.full_messages.each do |msg| %>
      <span class="error">*<%= msg %></span>
    <% end %>
    </ul>
<% end %>





<%=form_for @artist do |f| %>

<p>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password, "Confirm Password" %><br>
  <%= f.password_field :password_confirmation %>
</p>

<p>
  <%= f.label :main_picture,"Profile Photo"%><br>
  <%= f.file_field :main_picture%>
</p>





<p>
   <%= f.submit "Sign up" %>
 </p>

 <% end %>
